
<div class="checkboxes">
    <label><input type="checkbox" ng-click="toggleColumn('name')">Name</label>
    <label><input type="checkbox" ng-click="toggleColumn('title')">Title</label>
    <label><input type="checkbox" ng-click="toggleColumn('background')">background</label>
    <label><input type="checkbox" ng-click="toggleColumn('name1')">name1</label>
    <label><input type="checkbox" ng-click="toggleColumn('name2')">name2</label>
    <label><input type="checkbox" ng-click="toggleColumn('name3')">name3</label>
    <label><input type="checkbox" ng-click="toggleColumn('name4')">name4</label>
    <label><input type="checkbox" ng-click="toggleColumn('name5')">name5</label>
    <label><input type="checkbox" ng-click="toggleColumn('name6')">name6</label>
</div>

<table toggle-columns hidden-columns="{{hiddenColumns}}" enabled-columns="{{enabledColumns}}"
       st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th data-column-name="name"  ng-click="sortBy('name')"><a>Name</a></th>
        <th data-column-name="title" ng-click="sortBy('title')"><a>Title</a></th>
        <th data-column-name="background" ng-click ="sortBy('background')"><a>background</a></th>
        <th data-column-name="name1" ng-click="sortBy('name1')"><a>name1</a></th>
        <th data-column-name="name2" ng-click="sortBy('name2')"><a>name2</a></th>
        <th data-column-name="name3" ng-click="sortBy('name3')"><a>name3</a></th>
        <th data-column-name="name4" ng-click="sortBy('name4')"><a>name4</a></th>
        <th data-column-name="name5" ng-click="sortBy('name5')"><a>name5</a></th>
        <th data-column-name="name6" ng-click="sortBy('name6')"><a>name6</a></th>
    </tr>
    </thead>
    <tbody toggle-group data-group-name="{{key}}" ng-repeat="(key, value) in displayedCollection">
    <tr class="group-name-row">
        <td class="group-name-cell"><a ng-click="toggleGroup(key)">{{key}}</a></td>
    </tr>
    <tr class="disabled" ng-repeat="user in value">
        <td data-column-name="name"> {{user.name}}</td>
        <td data-column-name="title">{{user.title}}</td>
        <td data-column-name="background">{{user.background}}</td>
        <td data-column-name="name1">{{user.name1}}</td>
        <td data-column-name="name2">{{user.name2}}</td>
        <td data-column-name="name3">{{user.name3}}</td>
        <td data-column-name="name4">{{user.name4}}</td>
        <td data-column-name="name5">{{user.name5}}</td>
        <td data-column-name="name6">{{user.name6}}</td>
    </tr>
    </tbody>
</table>